.landing {
  background-image: url('/assets/img/fondo.svg');
  background-size: cover;
  width: 100%;
  height: 95vh;
}

.btn_landing {
  border-radius: 8px;
}

.landing_row {
  display: flex;
}

.landing_col {
  flex: auto;
}
